# Copie este arquivo para .env.docker antes de subir o container
# Exemplo: cp .env.docker.example .env.docker

NEXT_PUBLIC_WHATSAPP_PHONE=55XXXXXXXXXXX

NEXT_PUBLIC_SUPABASE_URL=...
NEXT_PUBLIC_SUPABASE_ANON_KEY=...
SUPABASE_SERVICE_ROLE_KEY=...

ADMIN_EMAILS=admin1@example.com,admin2@example.com
NEXT_PUBLIC_ADMIN_EMAILS=admin1@example.com,admin2@example.com

NEXT_PUBLIC_ENABLE_APPLE_AUTH=false
